/cache-manager/target/
/embedded-persistence-manager/target/
/persisting-data/target/
/quickstart/target/
/relationships/target/
/remote-persistence-manager/data-model/target/
/remote-persistence-manager/onyx-database-client/target/
/remote-persistence-manager/onyx-database-server/target/
/restful-web-persistence-manager/onyx-restful-server/target/
.idea
*.iml
*.xcuserstate
