<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CBB2829F0259C508F69FF631</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBB28451DE10F8B7A4602A0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBB28766A461617C72E8DCAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
